<h1>IEEE 743 To Decimal</h1>

<div>
    <label for="userNum">Select a # to Convert:</label>
    <input type="text" id="userNum" name="userNum"><br>
</div>

<div>
    <label for="bitSize">Choose a Bit Size:</label>
    <select name="bitSize" id="bitSize">
        <option value="16">Half</option>
        <option value="32">Single</option>
        <option value="64">Double</option>
        <option value="128">Quadruple</option>
        <option value="256">Octuple</option>
    </select>
    <input type="submit" value="Submit">
</div>
